{# app/Resources/views/Emails/registration.html.twig #}
{# example, assuming you have a route named "login" #}
{#To login, go to: <a href="{{ url('login') }}">...</a>.#}
Chèr(e) {{prenom}} {{nom}}

Félicitations, votre inscription a été prise en compte.
Vous pouvez dès à présent ouvir une session sur SimpleStock avec des droits limités à votre statut.
Votre statut provisoire est "TEMPORAIRE".
Il sera prochainement modifié et vous en serez avisé par mail.

A bientôt.

Mail généré automatiqueent par SimpleStock - Ne pas répondre à ce mail.
