{# app/Resources/views/Common/nolist.html.twig #}
{# template pour lister les éléments d'un tableau #}
{% extends 'SYM16SimpleStockBundle::layout.html.twig' %}

{% block BLOCA %}
    <td><b><a href="{{ path('sym16_simple_stock_homepage', { 'name':stockuser }) }}">Liste vide !!!!! - Retour à la page d\'acceuil</a></b></td>
{% endblock %}
